In [1]:
import pandas as pd
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [2]:
path = 'Pickles/output_df.pkl'
df = pd.read_pickle(path)

## Table of Contents
    1. Continuous Features (Spotify Info, Ticket Listings, Time Info, Artist Count) Regression Analysis (Pearson & Spearman Correlations)
    2. Categorical Features Analysis (TTest, ANOVA, Tukey HSD)
        2.1 Genre
        2.2 Subgenre
        2.3 Day of Week
        2.4 Promoter
        2.5 Ticket Source
    
### Notes: 
    1. All null hypotheses are accepoted/rejected at the $\alpha =.05 $ signficance level for two-tailed p-values
    2. Samples in each category have unequal variances and sample sizes, suggesting the ANOVA F-test may not be the most ideal statistical tool. However, it used for the sake of simplicity as the final product of this project is not inter-categorical differnces.

In [3]:
continuous = ['avg_ticket_listings','spotify_avg_followers','spotify_avg_popularity',
              'presale_length', 'days_on_sale','days_until_show','artist_count']
categorical = ['genre', 'subGenre','day_of_week','promoter','min_source']

## 1. Correlations between Continuous Features & Min Markup
I will calculate Pearson R and Spearman R values because, as previously observed the correlations may not necessarily be linear. <br><br>
$H_0 : r = 0$ There is no statistically significant correlation between each continuous variable and ticket minimum markup<br>
$H_a : r \neq 0$ There is a statistically significant correlation between each continuous variable and ticket minimum markup

In [4]:
#Compute Pearson R values for continuous features and minmarkup%
pearson_r = list()
pearson_p = list()
for col in continuous:
    r,p = stats.pearsonr(df[col],df['min_markup%'])
    pearson_r.append(r)
    pearson_p.append(p)
    
#Compute Spearman R values for continuous features and minmarkup%    
spearman_r = list()
spearman_p = list()
for col in continuous:
    r,p = stats.spearmanr(df[col],df['min_markup%'])
    spearman_r.append(r)
    spearman_p.append(p)
    
#Create DF of values
r_df = pd.DataFrame({'Column' : continuous,
                    'PearsonR' : pearson_r,
                    'PearsonR_pvalue' : pearson_p,
                    'SpearmanR' : spearman_r,
                    'SpearmanR_pvalue' : spearman_p})

#Accept or reject null hypothesis at alpha = .05 significance
r_df['Pearson_NullHypothesis'] = r_df['PearsonR_pvalue'].map(lambda x: 'Reject' if x<.05 else 'Accept')
r_df['Spearman_NullHypothesis'] = r_df['SpearmanR_pvalue'].map(lambda x: 'Reject' if x<.05 else 'Accept')

#Reorder columns
r_df = r_df[['Column','PearsonR','PearsonR_pvalue','Pearson_NullHypothesis','SpearmanR','SpearmanR_pvalue','Spearman_NullHypothesis']]

r_df

,Column,PearsonR,PearsonR_pvalue,Pearson_NullHypothesis,SpearmanR,SpearmanR_pvalue,Spearman_NullHypothesis
0,avg_ticket_listings,-0.094553,6.372505e-09,Reject,-0.199221,6.176388e-35,Reject
1,spotify_avg_followers,0.049878,2.227450e-03,Reject,-0.092131,1.537915e-08,Reject
2,spotify_avg_popularity,0.049662,2.327623e-03,Reject,-0.091791,1.737195e-08,Reject
3,presale_length,-0.077672,1.874547e-06,Reject,-0.180006,9.953438e-29,Reject
4,days_on_sale,-0.045595,5.186303e-03,Reject,-0.167394,5.163824e-25,Reject
5,days_until_show,-0.073715,6.098756e-06,Reject,0.013097,4.222535e-01,Accept
6,artist_count,0.010766,5.094595e-01,Accept,0.010364,5.254060e-01,Accept

## Conclusions

All Pearson R values are statistically significant excluding, and Artist count. All Spearman R values are statistically significant excluding Days until show and Artist count. This suggests that artist count, and potentially Days until Show, are not relevant factors.

Excluding Days Until Show, and Artist Count, all Spearman R values are higher than the Pearson values. This indicates that there is in fact associations in the movements between features, but that the movements aren't linear. This corroborates with the ECDF visualisations which suggested a logarithmic association between markup and the features. 

## 2. Correlations between Categorical Features & Min Markup


#### Define functions

In [5]:
#Define function for Welch's ttest comparing each category of a feature to that of overall markup
def t_test(input_df,alpha=.05):
    t_list = list()
    p_list = list()
    for col in input_df.columns:
        tvalue, pvalue = stats.ttest_ind(input_df[col],df['min_markup%'],equal_var=False,nan_policy='omit')
        t_list.append(tvalue)
        p_list.append(pvalue)
    # Create a dataframe of the categories and their respective T statistics, and P Values    
    ttest_df = pd.DataFrame({'Categories' : input_df.columns,
                                   'T Stat' : t_list,
                                   'P Value': p_list})
    # Accept or reject the null hypothesis at the given alpha significance level
    ttest_df['NullHypothesis'] = ttest_df['P Value'].map(lambda x: 'Reject' if x<alpha else 'Accept')
    return ttest_df

#Define a function for Tukey HSD multicomparison
def MCTukey(category):
    mc = MultiComparison(df['min_markup%'],df[category])
    result = mc.tukeyhsd()
    print(result)

## 2.1 Genre

In [6]:
genre_df = df[['min_markup%','genre']].pivot(columns='genre',values='min_markup%')
genre_df.describe()

genre,Blues,Country,Dance/Electronic,Folk,Hip-Hop/Rap,Jazz,Metal,Other,Pop,R&B,Religious,Rock,Undefined,World
count,76.000000,296.000000,133.000000,68.000000,172.000000,97.000000,111.000000,122.000000,258.000000,266.000000,84.000000,1511.000000,361.000000,202.000000
mean,185.209334,179.823589,120.306847,203.602444,148.520164,130.704343,150.435346,168.526471,76.977162,145.138177,121.274377,207.432196,116.829250,101.245218
std,85.960636,476.529504,109.885481,279.844420,151.323897,76.338896,218.027912,149.227360,73.596679,128.726938,67.698992,441.677863,133.306952,71.834230
min,58.800000,-72.537313,-32.200000,13.333333,-6.177215,-9.963636,-5.276995,-8.108108,-43.396226,9.539326,-18.000000,-70.446927,-2.857143,-70.000000
25%,114.009286,74.034351,69.929577,86.022727,83.357092,88.888889,87.706522,93.679487,18.422960,81.818182,101.666667,79.868058,73.996176,62.935897
50%,162.360447,98.010473,93.700000,105.263158,114.642857,100.600000,110.750000,123.458050,61.902216,117.006240,104.872340,106.372881,85.719225,89.337121
75%,286.666667,143.977273,121.892857,154.160792,167.118333,142.600000,137.297895,200.937500,99.577465,154.330339,136.090909,159.400833,123.220339,109.659994
max,356.543210,6579.000000,840.000000,1676.923077,1440.000000,373.287671,2210.000000,1218.872727,425.000000,1109.102041,583.040000,4703.333333,1488.000000,442.857143

### T-Test
Test if each genre's min markup is statistically different from that of the mean

$H_0 : \mu_\bar{x} = \mu_g$ There is no statistically significant difference between each category and the overall ticket minimum markup.<br>
$H_0 : \mu_\bar{x} \neq \mu_g$ There is a statistically significant difference between each category and the overall ticket minimum markup.

In [7]:
ttest_genre_df = t_test(genre_df)
ttest_genre_df

          Categories       P Value     T Stat NullHypothesis
0              Blues  6.478643e-02   1.863134         Accept
1            Country  5.829145e-01   0.549696         Accept
2   Dance/Electronic  7.626481e-05  -4.029536         Reject
3               Folk  2.566926e-01   1.143535         Accept
4        Hip-Hop/Rap  2.151789e-01  -1.242582         Accept
5               Jazz  4.413063e-04  -3.571404         Reject
6              Metal  5.171583e-01  -0.649574         Accept
7              Other  7.724175e-01   0.289699         Accept
8                Pop  1.764594e-33 -12.414208         Reject
9                R&B  4.461858e-02  -2.012797         Reject
10         Religious  4.492838e-06  -4.722764         Reject
11              Rock  6.052529e-04   3.434212         Reject
12         Undefined  9.260666e-08  -5.386323         Reject
13             World  4.545746e-17  -8.579124         Reject

### T-Test Results:
The difference between each genre's markup and the markup mean is statistically significant at the $\alpha$ = .05 level for Dance/Electronic, Jazz, Pop, R&B, Religous, Rock, Undefined, and World.

### ANOVA

For each categorical feature, an ANOVA test will be used to determine the statistical signficance of each category on ticket minimum markups

$H_0 : \mu_1 = \mu_2 = \mu_3 ...$ There is no statistically significant difference between each category's minimum ticket markup<br>
$H_a : \mu_1 \neq \mu_2 \neq \mu_3 ...$ There is a statistically significant difference between each category's minimum ticket markup

In [8]:
stats.f_oneway(genre_df['Blues'].dropna(),
               genre_df['Country'].dropna(),
               genre_df['Dance/Electronic'].dropna(),
               genre_df['Folk'].dropna(),
               genre_df['Hip-Hop/Rap'].dropna(),
               genre_df['Jazz'].dropna(),
               genre_df['Metal'].dropna(),
               genre_df['Other'].dropna(),
               genre_df['Pop'].dropna(),
               genre_df['R&B'].dropna(),
               genre_df['Religious'].dropna(),
               genre_df['Rock'].dropna(),
               genre_df['Undefined'].dropna(),
               genre_df['World'].dropna(),)

F_onewayResult(statistic=5.315216039384361, pvalue=1.4712118660348582e-09)

In [9]:
MCTukey('genre')

          Multiple Comparison of Means - Tukey HSD,FWER=0.05
=====================================================================
     group1           group2       meandiff   lower    upper   reject
---------------------------------------------------------------------
     Blues           Country       -5.3857  -145.5703 134.7988 False
     Blues       Dance/Electronic  -64.9025 -221.6576 91.8526  False
     Blues             Folk        18.3931  -163.5775 200.3637 False
     Blues         Hip-Hop/Rap     -36.6892 -186.8429 113.4645 False
     Blues             Jazz        -54.505  -221.5031 112.4931 False
     Blues            Metal        -34.774  -197.0797 127.5317 False
     Blues            Other        -16.6829  -175.987 142.6213 False
     Blues             Pop        -108.2322 -250.5102 34.0458  False
     Blues             R&B         -40.0712 -181.8615 101.7192 False
     Blues          Religious      -63.935  -236.5167 108.6467 False
     Blues             Rock        22.2229  -105.9307 150.3764 False
     Blues          Undefined      -68.3801 -205.9621 69.2019  False
     Blues            World        -83.9641 -230.6611 62.7328  False
    Country      Dance/Electronic  -59.5167 -173.3157 54.2822  False
    Country            Folk        23.7789  -122.8203 170.378  False
    Country        Hip-Hop/Rap     -31.3034 -135.8221 73.2153  False
    Country            Jazz        -49.1192 -176.6591 78.4206  False
    Country           Metal        -29.3882  -150.719 91.9426  False
    Country           Other        -11.2971 -128.5824 105.9882 False
    Country            Pop        -102.8464 -195.6961 -9.9968   True
    Country            R&B         -34.6854 -126.7861 57.4152  False
    Country         Religious      -58.5492 -193.3174  76.219  False
    Country            Rock        27.6086   -41.6832 96.9005  False
    Country         Undefined      -62.9943 -148.4743 22.4856  False
    Country           World        -78.5784 -178.0672 20.9105  False
Dance/Electronic       Folk        83.2956   -79.2215 245.8127 False
Dance/Electronic   Hip-Hop/Rap     28.2133   -97.6621 154.0888 False
Dance/Electronic       Jazz        10.3975  -135.1596 155.9546 False
Dance/Electronic      Metal        30.1285  -110.0201 170.2771 False
Dance/Electronic      Other        48.2196   -88.4417 184.8809 False
Dance/Electronic       Pop         -43.3297 -159.6978 73.0384  False
Dance/Electronic       R&B         24.8313    -90.94  140.6027 False
Dance/Electronic    Religious       0.9675  -150.9632 152.8983 False
Dance/Electronic       Rock        87.1253   -11.474  185.7247 False
Dance/Electronic    Undefined      -3.4776  -114.0547 107.0995 False
Dance/Electronic      World        -19.0616 -140.7929 102.6696 False
      Folk         Hip-Hop/Rap     -55.0823 -211.2417 101.0771 False
      Folk             Jazz        -72.8981 -245.3162  99.52   False
      Folk            Metal        -53.1671 -221.0443 114.7101 False
      Folk            Other        -35.076  -200.0531 129.9011 False
      Folk             Pop        -126.6253 -275.2276 21.9771  False
      Folk             R&B         -58.4643 -206.5998 89.6712  False
      Folk          Religious      -82.3281 -260.1597 95.5035  False
      Folk             Rock         3.8298  -131.3108 138.9703 False
      Folk          Undefined      -86.7732 -230.8857 57.3394  False
      Folk            World       -102.3572 -255.1958 50.4813  False
  Hip-Hop/Rap          Jazz        -17.8158 -156.2385 120.6069 False
  Hip-Hop/Rap         Metal         1.9152  -130.8086 134.639  False
  Hip-Hop/Rap         Other        20.0063  -109.0296 149.0423 False
  Hip-Hop/Rap          Pop         -71.543  -178.8533 35.7673  False
  Hip-Hop/Rap          R&B          -3.382  -110.0448 103.2809 False
  Hip-Hop/Rap       Religious      -27.2458 -172.3558 117.8642 False
  Hip-Hop/Rap          Rock         58.912   -28.8137 146.6377 False
  Hip-Hop/Rap       Undefined      -31.6909 -132.6922 69.3104  False
  Hip-Hop/Rap         World        -47.2749 -160.3787 65.8288  False
      Jazz            Metal         19.731  -131.7874 171.2495 False
      Jazz            Other        37.8221  -110.4766 186.1209 False
      Jazz             Pop         -53.7272 -183.5645 76.1102  False
      Jazz             R&B         14.4338  -114.8689 143.7366 False
      Jazz          Religious       -9.43   -171.9081 153.0482 False
      Jazz             Rock        76.7279   -37.4564 190.9121 False
      Jazz          Undefined      -13.8751 -138.5487 110.7985 False
      Jazz            World        -29.4591 -164.1243 105.206  False
     Metal            Other        18.0911  -124.9029 161.0851 False
     Metal             Pop         -73.4582 -197.2019 50.2855  False
     Metal             R&B         -5.2972  -128.4798 117.8855 False
     Metal          Religious      -29.161  -186.8122 128.4903 False
     Metal             Rock        56.9968   -50.2076 164.2013 False
     Metal          Undefined      -33.6061 -151.9204 84.7082  False
     Metal            World        -49.1901 -177.9902  79.61   False
     Other             Pop         -91.5493  -211.329 28.2304  False
     Other             R&B         -23.3883 -142.5883 95.8117  False
     Other          Religious      -47.2521 -201.8114 107.3072 False
     Other             Rock        38.9057   -63.6978 141.5092 False
     Other          Undefined      -51.6972 -165.8591 62.4647  False
     Other            World        -67.2813 -192.2778 57.7153  False
      Pop              R&B          68.161   -27.0958 163.4179 False
      Pop           Religious      44.2972   -92.6473 181.2418 False
      Pop              Rock        130.455    57.02    203.89   True
      Pop           Undefined      39.8521   -49.0195 128.7237 False
      Pop             World        24.2681   -78.1495 126.6857 False
      R&B           Religious      -23.8638 -160.3016 112.574  False
      R&B              Rock         62.294   -10.1916 134.7796 False
      R&B           Undefined      -28.3089 -116.3977 59.7798  False
      R&B             World        -43.893   -145.632 57.8461  False
   Religious           Rock        86.1578   -36.0474 208.363  False
   Religious        Undefined      -4.4451  -136.5041 127.6139 False
   Religious          World        -20.0292 -161.5593 121.501  False
      Rock          Undefined      -90.6029 -154.4658 -26.7401  True
      Rock            World        -106.187  -187.855 -24.519   True
   Undefined          World        -15.584  -111.3709 80.2029  False
---------------------------------------------------------------------

Pop & Country, Pop & Rock, Rock & Undefined, Rock & World have significantly different means, the rest of the means do not have significant differences.

## 2.2 SubGenre

### T Test

In [10]:
subgenre_df = df[['min_markup%','subGenre']].pivot(columns='subGenre',values='min_markup%')
subgenre_df.describe()

subGenre,Adult Contemporary,Alternative Rock,Blues,Club Dance,Country,Folk,Gospel,Heavy Metal,Jazz,Latin,Other,Pop,R&B,Soul,Undefined,Urban,World
count,81.000000,426.000000,76.000000,117.000000,278.000000,65.000000,75.000000,107.000000,97.000000,125.000000,278.000000,1198.000000,172.000000,80.000000,361.000000,150.000000,71.000000
mean,117.300024,160.195889,185.209334,124.123362,180.968324,207.438043,118.388102,151.293490,130.704343,94.263078,150.903740,206.121614,137.830055,161.681964,116.829250,151.460394,102.218419
std,50.638642,167.388309,85.960636,116.105926,490.636280,285.684126,69.182740,222.030101,76.338896,69.488109,131.772998,488.147304,146.321178,77.325320,133.306952,157.563337,55.400666
min,17.168142,-68.000000,58.800000,-32.200000,-72.537313,13.333333,-18.000000,-5.276995,-9.963636,-22.984597,-8.108108,-70.446927,9.539326,22.773109,-2.857143,-6.177215,-70.000000
25%,99.577465,81.219737,114.009286,69.929577,72.096963,86.363636,101.333333,86.556452,88.888889,54.943820,88.964646,67.307191,75.416667,125.000000,73.996176,84.068554,78.888889
50%,99.577465,110.084746,162.360447,93.700000,97.851478,105.263158,104.553191,109.090909,100.600000,80.831933,109.090909,98.723810,90.151515,135.000000,85.719225,115.333333,96.939891
75%,126.728972,166.761966,286.666667,123.080000,143.293004,156.643167,119.162905,137.297895,142.600000,104.216867,163.566667,144.835000,134.070513,187.050000,123.220339,173.343333,111.551224
max,391.891892,1333.333333,356.543210,840.000000,6579.000000,1676.923077,583.040000,2210.000000,373.287671,414.762516,1218.872727,4703.333333,1109.102041,600.000000,1488.000000,1440.000000,395.533333

In [11]:
subgenre_ttest_df = t_test(subgenre_df)
subgenre_ttest_df

            Categories       P Value    T Stat NullHypothesis
0   Adult Contemporary  4.273313e-09 -6.061783         Reject
1     Alternative Rock  6.712812e-01 -0.424537         Accept
2                Blues  6.478643e-02  1.863134         Accept
3           Club Dance  9.751105e-04 -3.352771         Reject
4              Country  5.781262e-01  0.556740         Accept
5                 Folk  2.330972e-01  1.203304         Accept
6               Gospel  4.051981e-06 -4.780173         Reject
7          Heavy Metal  5.570728e-01 -0.588851         Accept
8                 Jazz  4.413063e-04 -3.571404         Reject
9                Latin  3.343549e-16 -8.550041         Reject
10               Other  1.601247e-01 -1.406459         Accept
11                 Pop  5.635948e-03  2.772104         Reject
12                 R&B  3.316734e-02 -2.141555         Reject
13                Soul  7.956613e-01 -0.259426         Accept
14           Undefined  9.260666e-08 -5.386323         Reject
15               Urban  3.570480e-01 -0.923090         Accept
16               World  6.238934e-12 -7.332082         Reject

### Results:
Reject the null hypothesis for Adult Contemporary, Club Dance, Gospel, Jazz, Latin, Pop, R&B, Undefined, and World subgenres.
### ANOVA

In [12]:
stats.f_oneway(subgenre_df['Adult Contemporary'].dropna(),
               subgenre_df['Alternative Rock'].dropna(),
               subgenre_df['Blues'].dropna(),
               subgenre_df['Club Dance'].dropna(),
               subgenre_df['Country'].dropna(),
               subgenre_df['Folk'].dropna(),
               subgenre_df['Gospel'].dropna(),
               subgenre_df['Heavy Metal'].dropna(),
               subgenre_df['Jazz'].dropna(),
               subgenre_df['Latin'].dropna(),
               subgenre_df['Other'].dropna(),
               subgenre_df['Pop'].dropna(),
               subgenre_df['R&B'].dropna(),
               subgenre_df['Soul'].dropna(),
               subgenre_df['Undefined'].dropna(),
               subgenre_df['Urban'].dropna(),
               subgenre_df['World'].dropna())

F_onewayResult(statistic=2.8727032334771003, pvalue=0.00010571892638891329)

In [13]:
MCTukey('subGenre')

           Multiple Comparison of Means - Tukey HSD,FWER=0.05
=======================================================================
      group1            group2       meandiff   lower    upper   reject
-----------------------------------------------------------------------
Adult Contemporary Alternative Rock  42.8959   -93.8504 179.6421 False
Adult Contemporary      Blues        67.9093  -112.2511 248.0697 False
Adult Contemporary    Club Dance      6.8233  -156.2398 169.8865 False
Adult Contemporary     Country       63.6683   -78.7747 206.1113 False
Adult Contemporary       Folk         90.138   -97.7227 277.9987 False
Adult Contemporary      Gospel        1.0881  -179.6909 181.867  False
Adult Contemporary   Heavy Metal     33.9935  -132.1576 200.1446 False
Adult Contemporary       Jazz        13.4043  -156.3967 183.2054 False
Adult Contemporary      Latin        -23.0369 -183.9513 137.8774 False
Adult Contemporary      Other        33.6037  -108.8393 176.0467 False
Adult Contemporary       Pop         88.8216   -40.6943 218.3375 False
Adult Contemporary       R&B          20.53    -131.494 172.5541 False
Adult Contemporary       Soul        44.3819  -133.4395 222.2034 False
Adult Contemporary    Undefined      -0.4708  -139.1699 138.2284 False
Adult Contemporary      Urban        34.1604   -121.392 189.7127 False
Adult Contemporary      World        -15.0816 -198.4856 168.3224 False
 Alternative Rock       Blues        25.0134  -115.4615 165.4884 False
 Alternative Rock     Club Dance     -36.0725 -153.8225 81.6775  False
 Alternative Rock      Country       20.7724   -66.2073 107.7521 False
 Alternative Rock        Folk        47.2422  -102.9814 197.4657 False
 Alternative Rock       Gospel       -41.8078 -183.0753 99.4597  False
 Alternative Rock    Heavy Metal     -8.9024  -130.8928 113.088  False
 Alternative Rock        Jazz        -29.4915 -156.4083 97.4252  False
 Alternative Rock       Latin        -65.9328 -180.6886  48.823  False
 Alternative Rock       Other        -9.2921   -96.2718 77.6875  False
 Alternative Rock        Pop         45.9257   -17.7126 109.564  False
 Alternative Rock        R&B         -22.3658 -124.2813 79.5497  False
 Alternative Rock        Soul         1.4861  -135.9764 138.9486 False
 Alternative Rock     Undefined      -43.3666 -124.0693  37.336  False
 Alternative Rock       Urban        -8.7355  -115.8429 98.3719  False
 Alternative Rock       World        -57.9775  -202.589 86.6341  False
      Blues           Club Dance     -61.086  -227.2885 105.1166 False
      Blues            Country        -4.241  -150.2673 141.7853 False
      Blues              Folk        22.2287  -168.3634 212.8208 False
      Blues             Gospel       -66.8212 -250.4369 116.7945 False
      Blues          Heavy Metal     -33.9158 -203.1491 135.3174 False
      Blues              Jazz        -54.505   -227.323 118.3131 False
      Blues             Latin        -90.9463 -255.0411 73.1486  False
      Blues             Other        -34.3056 -180.3319 111.7207 False
      Blues              Pop         20.9123  -112.5345 154.3591 False
      Blues              R&B         -47.3793 -202.7659 108.0073 False
      Blues              Soul        -23.5274  -204.232 157.1772 False
      Blues           Undefined      -68.3801 -210.7568 73.9967  False
      Blues             Urban        -33.7489 -192.5892 125.0913 False
      Blues             World        -82.9909 -269.1917 103.2098 False
    Club Dance         Country        56.845   -67.4753 181.1652 False
    Club Dance           Folk        83.3147   -91.2052 257.8345 False
    Club Dance          Gospel       -5.7353  -172.6081 161.1376 False
    Club Dance       Heavy Metal     27.1701  -123.7329 178.0731 False
    Club Dance           Jazz         6.581   -148.3316 161.4936 False
    Club Dance          Latin        -29.8603 -174.9773 115.2568 False
    Club Dance          Other        26.7804   -97.5399 151.1006 False
    Club Dance           Pop         81.9983   -27.2716 191.2681 False
    Club Dance           R&B         13.7067  -121.4852 148.8985 False
    Club Dance           Soul        37.5586  -126.1057 201.2229 False
    Club Dance        Undefined      -7.2941  -127.3065 112.7183 False
    Club Dance          Urban         27.337  -111.8106 166.4847 False
    Club Dance          World        -21.9049 -191.6181 147.8082 False
     Country             Folk        26.4697  -128.9574 181.8968 False
     Country            Gospel       -62.5802 -209.3691 84.2086  False
     Country         Heavy Metal     -29.6748 -158.0186 98.6689  False
     Country             Jazz        -50.264   -183.299 82.7711  False
     Country            Latin        -86.7052 -208.1934 34.7829  False
     Country            Other        -30.0646 -125.7512 65.6221  False
     Country             Pop         25.1533   -49.9486 100.2552 False
     Country             R&B         -43.1383 -152.5788 66.3023  False
     Country             Soul        -19.2864 -162.4171 123.8444 False
     Country          Undefined      -64.1391 -154.1579 25.8797  False
     Country            Urban        -29.5079 -143.7991 84.7832  False
     Country            World        -78.7499 -228.7598  71.26   False
       Folk             Gospel       -89.0499 -280.2269 102.127  False
       Folk          Heavy Metal     -56.1446  -233.553 121.2639 False
       Folk              Jazz        -76.7337  -257.565 104.0976 False
       Folk             Latin        -113.175 -285.6888 59.3388  False
       Folk             Other        -56.5343 -211.9614 98.8928  False
       Folk              Pop         -1.3164  -144.9895 142.3566 False
       Folk              R&B         -69.608  -233.8605 94.6445  False
       Folk              Soul        -45.7561 -234.1388 142.6266 False
       Folk           Undefined      -90.6088 -242.6122 61.3946  False
       Folk             Urban        -55.9776 -223.5011 111.5458 False
       Folk             World       -105.2196 -298.8807 88.4414  False
      Gospel         Heavy Metal     32.9054  -136.9862 202.797  False
      Gospel             Jazz        12.3162  -161.1466 185.7791 False
      Gospel            Latin        -24.125  -188.8988 140.6487 False
      Gospel            Other        32.5156  -114.2732 179.3045 False
      Gospel             Pop         87.7335   -46.5473 222.0143 False
      Gospel             R&B          19.442  -136.6614 175.5453 False
      Gospel             Soul        43.2939  -138.0275 224.6152 False
      Gospel          Undefined      -1.5589  -144.7176 141.5998 False
      Gospel            Urban        33.0723  -126.4692 192.6138 False
      Gospel            World        -16.1697  -202.969 170.6297 False
   Heavy Metal           Jazz        -20.5891 -178.7489 137.5706 False
   Heavy Metal          Latin        -57.0304 -205.6089  91.548  False
   Heavy Metal          Other        -0.3897  -128.7335 127.954  False
   Heavy Metal           Pop         54.8281   -58.9985 168.6547 False
   Heavy Metal           R&B         -13.4634 -152.3642 125.4374 False
   Heavy Metal           Soul        10.3885  -156.3526 177.1296 False
   Heavy Metal        Undefined      -34.4642 -158.6398 89.7113  False
   Heavy Metal          Urban         0.1669  -142.5869 142.9207 False
   Heavy Metal          World        -49.0751 -221.7573 123.6072 False
       Jazz             Latin        -36.4413 -189.0904 116.2079 False
       Jazz             Other        20.1994  -112.8357 153.2345 False
       Jazz              Pop         75.4173   -43.6738 194.5084 False
       Jazz              R&B          7.1257   -136.121 150.3725 False
       Jazz              Soul        30.9776  -139.4008 201.356  False
       Jazz           Undefined      -13.8751 -142.8936 115.1434 False
       Jazz             Urban        20.7561  -126.2299 167.742  False
       Jazz             World        -28.4859 -204.6829 147.711  False
      Latin             Other        56.6407   -64.8475 178.1288 False
      Latin              Pop         111.8585   5.8221  217.895   True
      Latin              R&B          43.567   -89.0251 176.1591 False
      Latin              Soul        67.4189   -94.1046 228.9424 False
      Latin           Undefined      22.5662   -94.5099 139.6423 False
      Latin             Urban        57.1973   -79.4259 193.8205 False
      Latin             World         7.9553  -159.6943 175.605  False
      Other              Pop         55.2179   -19.8841 130.3198 False
      Other              R&B         -13.0737 -122.5143 96.3669  False
      Other              Soul        10.7782  -132.3525 153.9089 False
      Other           Undefined      -34.0745 -124.0933 55.9443  False
      Other             Urban         0.5567  -113.7345 114.8478 False
      Other             World        -48.6853 -198.6952 101.3246 False
       Pop               R&B         -68.2916 -160.2785 23.6954  False
       Pop               Soul        -44.4396 -174.7116 85.8323  False
       Pop            Undefined      -89.2924 -157.0253 -21.5594  True
       Pop              Urban        -54.6612 -152.3691 43.0467  False
       Pop              World       -103.9032 -241.6977 33.8913  False
       R&B               Soul        23.8519  -128.8167 176.5205 False
       R&B            Undefined      -21.0008  -125.522 83.5204  False
       R&B              Urban        13.6303  -112.4005 139.6612 False
       R&B              World        -35.6116 -194.7476 123.5244 False
       Soul           Undefined      -44.8527 -184.2581 94.5526  False
       Soul             Urban        -10.2216 -166.4039 145.9608 False
       Soul             World        -59.4635 -243.4022 124.4751 False
    Undefined           Urban        34.6311   -74.9586 144.2209 False
    Undefined           World        -14.6108 -161.0704 131.8488 False
      Urban             World        -49.242   -211.752 113.268  False
-----------------------------------------------------------------------

### Results
Latin & Pop, Pop & Soul have significantly different means at the $\alpha = .05$ significance level.

## 2.3. Day of the Week
Perform T-tests and ANOVA on markups vs days of the week

In [14]:
day_df = df[['min_markup%','day_of_week']].pivot(columns='day_of_week',values='min_markup%')
day_df.describe()

day_of_week,0,1,2,3,4,5,6
count,351.000000,198.000000,328.000000,430.000000,561.000000,959.000000,930.000000
mean,127.268860,127.951204,192.360805,164.204613,189.828697,167.090955,157.957530
std,132.007626,130.447346,411.685694,329.670099,463.586576,325.029789,270.099024
min,-72.537313,17.828571,-28.019802,-70.000000,-68.000000,-70.446927,-60.000000
25%,69.722222,64.594937,80.000000,73.996176,73.996176,79.556600,78.590110
50%,96.389831,95.300000,101.497561,99.577465,97.885714,105.200000,103.578182
75%,146.675439,122.244949,160.750836,146.623333,149.920000,148.152542,143.013175
max,1676.923077,920.338983,3901.733333,2943.320000,6579.000000,4500.000000,3223.333333

### T Test

In [15]:
day_ttest_df = t_test(day_df)
day_ttest_df

   Categories   P Value    T Stat NullHypothesis
0           0  0.000031 -4.190914         Reject
1           1  0.000754 -3.399404         Reject
2           2  0.230543  1.200971         Accept
3           3  0.994609 -0.006760         Accept
4           4  0.209048  1.257444         Accept
5           5  0.813866  0.235484         Accept
6           6  0.538616 -0.615033         Accept

### Results

The null hypothesis is rejected for Sunday and Monday, which have min markups which have differences statistically significant from the mean (Below the mean). For Tuesday through Saturday, I fail to reject the null hypothesis.

### ANOVA

In [16]:
stats.f_oneway(day_df[0].dropna(),
               day_df[1].dropna(),
               day_df[2].dropna(),
               day_df[3].dropna(),
               day_df[4].dropna(),
               day_df[5].dropna(),
               day_df[6].dropna())

F_onewayResult(statistic=2.2012121035066947, pvalue=0.040099700414595839)

In [17]:
MCTukey('day_of_week')

Multiple Comparison of Means - Tukey HSD,FWER=0.05
===============================================
group1 group2 meandiff  lower    upper   reject
-----------------------------------------------
  0      1     0.6823  -85.0354   86.4   False
  0      2    65.0919  -8.9734  139.1573 False
  0      3    36.9358  -32.4401 106.3116 False
  0      4    62.5598  -3.0748  128.1944 False
  0      5    39.8221  -20.3428  99.987  False
  0      6    30.6887  -29.7271 91.1044  False
  1      2    64.4096  -22.3852 151.2044 False
  1      3    36.2534  -46.5758 119.0826 False
  1      4    61.8775  -17.8444 141.5993 False
  1      5    39.1398  -36.143  114.4225 False
  1      6    30.0063  -45.477  105.4896 False
  2      3    -28.1562 -98.8586 42.5462  False
  2      4    -2.5321  -69.5673 64.5031  False
  2      5    -25.2698 -86.9597  36.42   False
  2      6    -34.4033 -96.3377 27.5312  False
  3      4    25.6241  -36.1906 87.4388  False
  3      5     2.8863  -53.0866 58.8593  False
  3      6    -6.2471  -62.4895 49.9954  False
  4      5    -22.7377 -74.0004  28.525  False
  4      6    -31.8712 -83.428  19.6857  False
  5      6    -9.1334  -53.5184 35.2515  False
-----------------------------------------------

### Results
Markups over different days of the week are not statistically signifcant from each other.

## 2.4 Promoter
Compare min markups between the mean and different promoters

In [18]:
promoter_df = df[['min_markup%','promoter']].pivot(columns='promoter',values='min_markup%')
promoter_df.describe()

promoter,AEG LIVE,CROSSROADS PRESENTS,FRANK PRODUCTIONS,HOUSE OF BLUES CONCERTS (HOB),LIVE NATION MUSIC,MASQUERADE,Other,PROMO WEST,PROMOTED BY VENUE
count,46.000000,68.000000,30.000000,241.000000,1025.000000,50.000000,263.000000,84.000000,1950.000000
mean,84.502143,125.560061,118.787754,143.206437,130.760679,441.074746,131.368594,152.939228,186.338886
std,66.601313,95.075216,122.797529,166.040971,128.373196,450.354205,157.545472,118.774049,425.643091
min,-45.896907,16.260163,-12.974684,-21.621622,-45.454545,73.913043,-70.446927,13.718231,-72.537313
25%,57.150180,92.720000,66.829604,83.200000,74.227848,108.272727,80.000000,84.223238,73.996176
50%,80.156705,106.250000,98.222222,107.728814,100.000000,261.449275,96.939891,113.500000,100.553922
75%,111.740662,119.969618,133.210438,143.902439,137.500000,609.583333,129.948951,148.076923,153.401826
max,357.142857,686.500000,693.523810,1488.000000,1334.615385,2210.000000,1676.923077,600.000000,6579.000000

### T Test

In [19]:
promoter_ttest_df = t_test(promoter_df)
promoter_ttest_df

                      Categories       P Value    T Stat NullHypothesis
0                       AEG LIVE  4.916276e-10 -7.140832         Reject
1            CROSSROADS PRESENTS  2.934446e-03 -3.050427         Reject
2              FRANK PRODUCTIONS  5.677725e-02 -1.975572         Accept
3  HOUSE OF BLUES CONCERTS (HOB)  7.820644e-02 -1.766044         Accept
4              LIVE NATION MUSIC  5.220407e-07 -5.025786         Reject
5                     MASQUERADE  7.213618e-05  4.330205         Reject
6                          Other  3.116455e-03 -2.972400         Reject
7                     PROMO WEST  4.185832e-01 -0.811840         Accept
8              PROMOTED BY VENUE  4.574907e-02  1.998487         Reject

### Results
Most promoter categories have statistically significant differences from the overall mean.
The null hypothesis is rejected for AEG Live, Crossroad Presents, Live Nation, and 'Other' for having markups significantly below the mean, and Masquerade, and 'Promoted by Venue' having markups significantly greater than the mean.

In [20]:
stats.f_oneway(promoter_df['AEG LIVE'].dropna(),
               promoter_df['CROSSROADS PRESENTS'].dropna(),
               promoter_df['FRANK PRODUCTIONS'].dropna(),
               promoter_df['HOUSE OF BLUES CONCERTS (HOB)'].dropna(),
               promoter_df['LIVE NATION MUSIC'].dropna(),
               promoter_df['MASQUERADE'].dropna(),
               promoter_df['Other'].dropna(),
               promoter_df['PROMO WEST'].dropna(),
               promoter_df['PROMOTED BY VENUE'].dropna())

F_onewayResult(statistic=8.0451726793583678, pvalue=8.084233883556036e-11)

In [21]:
MCTukey('promoter')

                       Multiple Comparison of Means - Tukey HSD,FWER=0.05
================================================================================================
            group1                        group2             meandiff   lower     upper   reject
------------------------------------------------------------------------------------------------
           AEG LIVE                CROSSROADS PRESENTS       41.0579  -151.3955  233.5113 False
           AEG LIVE                 FRANK PRODUCTIONS        34.2856   -202.292  270.8633 False
           AEG LIVE           HOUSE OF BLUES CONCERTS (HOB)  58.7043  -103.4991  220.9077 False
           AEG LIVE                 LIVE NATION MUSIC        46.2585  -105.6773  198.1944 False
           AEG LIVE                     MASQUERADE           356.5726  150.6148  562.5304  True
           AEG LIVE                       Other              46.8665  -114.2459  207.9788 False
           AEG LIVE                     PROMO WEST           68.4371  -116.4726  253.3467 False
           AEG LIVE                 PROMOTED BY VENUE        101.8367  -48.5434  252.2169 False
     CROSSROADS PRESENTS            FRANK PRODUCTIONS        -6.7723  -227.7276  214.183  False
     CROSSROADS PRESENTS      HOUSE OF BLUES CONCERTS (HOB)  17.6464  -120.7812  156.074  False
     CROSSROADS PRESENTS            LIVE NATION MUSIC         5.2006  -121.0403  131.4415 False
     CROSSROADS PRESENTS                MASQUERADE           315.5147  127.7093  503.3201  True
     CROSSROADS PRESENTS                  Other               5.8085   -131.339  142.9561 False
     CROSSROADS PRESENTS                PROMO WEST           27.3792  -137.0709  191.8293 False
     CROSSROADS PRESENTS            PROMOTED BY VENUE        60.7788   -63.5853  185.143  False
      FRANK PRODUCTIONS       HOUSE OF BLUES CONCERTS (HOB)  24.4187  -170.7553  219.5927 False
      FRANK PRODUCTIONS             LIVE NATION MUSIC        11.9729  -174.7554  198.7012 False
      FRANK PRODUCTIONS                 MASQUERADE           322.287   89.4747   555.0992  True
      FRANK PRODUCTIONS                   Other              12.5808  -181.6874  206.8491 False
      FRANK PRODUCTIONS                 PROMO WEST           34.1515  -180.2652  248.5682 False
      FRANK PRODUCTIONS             PROMOTED BY VENUE        67.5511  -117.9135  253.0158 False
HOUSE OF BLUES CONCERTS (HOB)       LIVE NATION MUSIC        -12.4458  -84.6151  59.7236  False
HOUSE OF BLUES CONCERTS (HOB)           MASQUERADE           297.8683  141.2078  454.5288  True
HOUSE OF BLUES CONCERTS (HOB)             Other              -11.8378 -101.7328  78.0571  False
HOUSE OF BLUES CONCERTS (HOB)           PROMO WEST            9.7328  -117.9993  137.4649 False
HOUSE OF BLUES CONCERTS (HOB)       PROMOTED BY VENUE        43.1324   -25.7014  111.9663 False
      LIVE NATION MUSIC                 MASQUERADE           310.3141  164.3104  456.3177  True
      LIVE NATION MUSIC                   Other               0.6079   -69.0747  70.2906  False
      LIVE NATION MUSIC                 PROMO WEST           22.1785   -92.2332  136.5903 False
      LIVE NATION MUSIC             PROMOTED BY VENUE        55.5782   16.6853   94.4711   True
          MASQUERADE                      Other             -309.7062 -465.2367 -154.1756  True
          MASQUERADE                    PROMO WEST          -288.1355 -468.2026 -108.0685  True
          MASQUERADE                PROMOTED BY VENUE       -254.7359 -399.1199 -110.3518  True
            Other                       PROMO WEST           21.5706  -104.7731  147.9144 False
            Other                   PROMOTED BY VENUE        54.9703   -11.2517  121.1922 False
          PROMO WEST                PROMOTED BY VENUE        33.3997   -78.9379  145.7372 False
------------------------------------------------------------------------------------------------

### Results
I fail to accept the null hypothesis for all pairings except those including Masquerade. Masquerade's minimum markups are statistically signifcantly higher than any other promoter category.

## 2.5 Ticket Source
Compare minimum markups between SeatGeek and Stubhub

In [22]:
source_df = df[['min_markup%','min_source']].pivot(columns='min_source',values='min_markup%')
source_df.describe()

min_source         Both           SG           SH
count       1180.000000  1136.000000  1441.000000
mean         130.007615   159.970547   195.841177
std          111.400801   219.581061   478.744363
min          -46.494898   -70.000000   -72.537313
25%           78.708375    84.000000    64.674157
50%          103.645960   106.250000    96.939891
75%          145.157353   150.000000   147.111111
max         1334.615385  4500.000000  6579.000000

### T test

In [23]:
source_ttest_df = t_test(source_df)
source_ttest_df

  Categories       P Value    T Stat NullHypothesis
0       Both  4.162424e-08 -5.492507         Reject
1         SG  6.058023e-01 -0.516133         Accept
2         SH  2.145163e-02  2.301770         Reject

### Results
Events with tickets only on Stubhub have significantly higher markups than those of the dataset. Events with tickets on both Stubhub and SeatGeek have significantly lower markups.

### ANOVA

In [24]:
stats.f_oneway(source_df['Both'].dropna(),
               source_df['SG'].dropna(),
               source_df['SH'].dropna(),)

F_onewayResult(statistic=13.35853429728107, pvalue=1.6558061577801399e-06)

In [25]:
MCTukey('min_source')

Multiple Comparison of Means - Tukey HSD,FWER=0.05
=============================================
group1 group2 meandiff  lower   upper  reject
---------------------------------------------
 Both    SG   29.9629  -1.8258 61.7517 False
 Both    SH   65.8336  35.8078 95.8594  True
  SG     SH   35.8706   5.5268 66.2144  True
---------------------------------------------

### Results
Differences in markups between are significantly different for tickets on both platforms vs. Stubhub, and SeatGeek vs. Stubhub. 

The difference in markups between both platforms vs. SeatGeek is not statistically significant.