In [5]:
import pandas as pd

In [17]:
df = pd.DataFrame({'A':[[1,[3,2]],[5,[2,9]],[7,[8,1]]],'B':[9,4,1]})

In [18]:
df.head()

             A  B
0  [1, [3, 2]]  9
1  [5, [2, 9]]  4
2  [7, [8, 1]]  1

In [19]:
x = 'A'

In [27]:
z = df['A'].apply(pd.Series)
z

   0       1
0  1  [3, 2]
1  5  [2, 9]
2  7  [8, 1]

In [28]:
z = z[1].apply(pd.Series)

In [29]:
z

   0  1
0  3  2
1  2  9
2  8  1

In [2]:
x = ['2018-02-01','2018-01-05','2018-01-04']

In [3]:
y = [4,7,9]

In [7]:
x = pd.DataFrame([x,y])

In [10]:
x=x.T

In [11]:
x

            0  1
0  2018-02-01  4
1  2018-01-05  7
2  2018-01-04  9

In [12]:
y = x.copy()

In [26]:
y[0] = ['2018-02-01T00:00:00Z','2018-01-05T00:00:00Z','2018-01-04T00:00:00Z']

In [27]:
y[0] = pd.to_datetime(y[0],errors='coerce')

In [28]:
x[0] = pd.to_datetime(x[0],errors='coerce')

KeyError: 0

In [21]:
x.columns = ['Date','Value']

In [22]:
x

        Date Value
0 2018-02-01     4
1 2018-01-05     7
2 2018-01-04     9

In [23]:
y.columns = ['Date','Values']

In [29]:
z = x.merge(y,on='Date',how='left')

In [30]:
z

        Date Value Values          0
0 2018-02-01     4      4 2018-02-01
1 2018-01-05     7      7 2018-01-05
2 2018-01-04     9      9 2018-01-04